@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200&display=swap');

* {

    box-sizing: border-box;
}

body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    font-family: "Poppins", sans-serif;
    margin: 0;

}

img {
    max-width: 100%;
}

.mobile-container {
    width: 380px;
    box-shadow: 0 0 15px 10px rgba(100, 100, 100, 0.4);
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.3rem;
}

header button {
    background-color: transparent;
    color: #aaa;
    border: none;
    padding: 0.3rem;
    font-size: 1.3rem;
    margin-left: 10px;

}

.fav-container {
    background-color: rgb(191, 241, 245);
    padding: 0.3rem;
    text-align: center;  
}

.fav-container h3 {
    margin: 1px;
    font-size: 25px;
}
.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    width: 85px;
    margin: 2px;
}

.fav-meals li .clear {
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.fav-meals li:hover .clear {
    opacity: 0.4;
}

.fav-meals li img {
    border: 2px solid #f5f3f3;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 1000, 0.1);
    overflow: hidden;
    background-color: white ;
    margin: 1.5rem;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 200px;
    width: 100%;

}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.5rem;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    max-width: 500px;
    width: 100%;
    overflow: auto;
    max-height: 90vh;
}

.meal-info h1 {
    text-align: center;
    font-size: 1.5rem;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}
